@charset "UTF-8";
/* we're calling the _partial.scss file, which can contain variables and functions and mixins, etc. */
/* Variables */
/*Variabler de deklareres i toppen af vores stylesheet og de er globale. Variabler defineret i blokke ({}) er normalvis lokale og kan kun tilgås inde i blokken.*/
/* Mixin */
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  background-color: #f0f0f0;
  /* nesting */
}
body p {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: 600;
  color: #333;
}

/* Skip to main content code snippet fra:https://www.a11y-collective.com/blog/skip-to-main-content/ FRA NADIA! */
.screen-reader-text {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}

.screen-reader-text:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(50px, auto);
}

header {
  grid-column: 1/6;
  background-color: #ffffff;
  border-bottom: 4px solid #388071;
}

nav {
  height: 4em;
  padding: 1em;
  /* $justify og $align er parametre/variabler, som kan aendres, naar vores mixin kaldes */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* We're calling the mixin! and the variable is changed */
}
nav img {
  width: 70px;
}
nav #bars {
  display: none;
}
nav ul {
  /* $justify og $align er parametre/variabler, som kan aendres, naar vores mixin kaldes */
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
nav a {
  color: #333;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover, nav .active {
  color: #388071;
}

/* hero banner section  */
.header-img {
  grid-column: 1/6;
  background-image: url(../img/computer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 75vh;
  margin-bottom: 1em;
  border-bottom: 4px solid #388071;
}
.header-img .banner-tekst {
  position: absolute;
  left: 5%;
  top: 30%;
}
.header-img .banner-tekst h1 {
  font-size: 3.5vw;
}
.header-img .banner-tekst p {
  font-size: 2vw;
}
.header-img .banner-tekst a {
  background-color: #388071;
  padding: 0.8em 1em;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  position: absolute;
}
.header-img .banner-tekst a:hover {
  background-color: #133833;
  transition: 0.3s ease-in-out;
}

/* Forside styling */
main {
  grid-column: 1/6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.cta-wrapper {
  grid-column: 1/7;
}
.cta-wrapper h2 {
  text-align: center;
  font-size: 30px;
}
.cta-wrapper .cta-bokse {
  display: flex;
  justify-content: space-around;
}

/* CTA bokse */
.cta-1, .cta-2, .cta-3 {
  background-color: #ffffff;
  width: 20vw;
  padding: 2em;
  margin: 2em auto;
}
.cta-1 img, .cta-2 img, .cta-3 img {
  margin: 0 auto;
  width: 60%;
  display: block;
}
.cta-1 p, .cta-2 p, .cta-3 p {
  margin-bottom: 2em;
}
.cta-1 a, .cta-2 a, .cta-3 a {
  background-color: #388071;
  padding: 0.8em 1em;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  display: block;
}
.cta-1 a:hover, .cta-2 a:hover, .cta-3 a:hover {
  background-color: #133833;
  transition: 0.3s ease-in-out;
}/*# sourceMappingURL=style.css.map */